.new-background-color{
    --background: #44270A;
    --color: #fff;
    text-align: center;
}
.search_cta{
    --background: #44270A;
    --color: #fff;
    // --border-radius: 50%;
}
ion-app.android {
    font-family: TradeGothic !important;
    font-size: 15px !important;
    }
ion-app.ios {
    font-family: TradeGothic !important;
    font-size: 15px !important;
}
.asideright {
    font-family: TradeGothic !important;
    font-size: 15px !important;
    line-height: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    padding-right: 5%;
  }
  .asideleft {
    font-family: TradeGothic !important;
    font-size: 15px !important;
    line-height: 1.8rem;
    display: none;
    float: left;
    width: 0%;
    box-sizing: border-box;
    padding: 0;
  }

  ion-content.md.hydrated p {
    padding-left: 5% !important;
  }
  .cta_np{
    // color: #000 !important;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 12px;
  }
a {
    color: #000;
    line-height: 25px;
}