<ion-header>
  <!-- <ion-toolbar class="new-background-color">
    <ion-title>Baanis</ion-title>
  </ion-toolbar> -->
  <ion-toolbar class="new-background-color">
    <ion-buttons *ngIf="selectedBaani && page>0" class="cta_np" slot="start" (click)="goToPage(-1)">Previous</ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons *ngIf="selectedBaani && page<totalPages" class="cta_np" slot="end" (click)="goToPage(1)">Next</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content *ngIf="!baaniContent" style="text-align: center">

    <p *ngFor=" let baani of baanisList" (click)="getContent(baani.filename)">
      {{baani.heading}}
    </p>

  </ion-content>
  <ion-content *ngIf="baaniContent" style="text-align: center">
    <p [innerHTML]="baaniContent"></p>
    <ion-button (click)="back()" class="search_cta">back to Baanis</ion-button>
  </ion-content>
</ion-content>