.new-background-color{
    --background: #44270A;
    --color: #fff;
    text-align: center;
}
.search_cta{
    --background: #44270A;
    --color: #fff;
    --border-radius: 50%;
}
ion-app.android {
    font-family: TradeGothic !important;
    font-size: 15px;
    }
ion-app.ios {
        font-family: TradeGothic !important;
        font-size: 15px;
}