<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons *ngIf="selectedBaani && page>0" class="cta_np" slot="start" (click)="goToPage(-1)">Previous
    </ion-buttons>

    <ion-button class="new-background-color" (click)="searchPageNo()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
      <ion-title>{{pageTitle}}</ion-title>
    </ion-button>
    <ion-buttons *ngIf="selectedBaani && page<totalPages" class="cta_np" slot="end" (click)="goToPage(1)">Next
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="showSearch" style="text-align: center;">
  <ion-input class="searchbox" type="text" placeholder="Enter Page No." [(ngModel)]="page"></ion-input>
  <ion-button class="search_cta" (click)="goToPage(0)">Search</ion-button>
  <ion-button class="search_cta" (click)="cancelSearch()">Cancel</ion-button>
</ion-content>


<ion-content *ngIf="!baaniContent && !showSearch" style="text-align: left;">

  <p *ngFor=" let baani of baanisList" (click)="getContent(baani.filename)">
    {{baani.heading}}
  </p>

</ion-content>
<ion-content *ngIf="baaniContent  && !showSearch" style="text-align: left;">
  <p [innerHTML]="baaniContent"></p>
  <ion-button (click)="back()" class="search_cta">back to Baanis</ion-button>
</ion-content>