ion-tab-button#tab-button-home {
    background: #44270A !important;
    color: #fff !important;
}
ion-tab-button#tab-button-explore {
    background: #44270A !important;
    color: #fff !important;
   
}
ion-tab-button#tab-button-search {
    background: #44270A !important;
    color: #fff !important;
  
}
ion-tab-button#tab-button-baanis {
    background: #44270A !important;
    color: #fff !important;
   
}
ion-tab-button#tab-button-more {
    background: #44270A !important;
    color: #fff !important;
}
ion-app.android {
    font-family: TradeGothic !important;
    font-size: 15px;
    }
ion-app.ios {
        font-family: TradeGothic !important;
        font-size: 15px;
}
