<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="baanis">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Baanis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>