<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>More</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: left;" class="morebg">
    <ion-content><br><br>
      <ion-icon name="cog-outline" style="padding-left: 5% !important;"></ion-icon> Preference<br><br>
      <ion-icon name="star-half-outline" style="padding-left: 5% !important;"></ion-icon> Favourites<br><br>
      <ion-icon name="help-outline" style="padding-left: 5% !important;"></ion-icon> Help<br>
    </ion-content>
</ion-content>
