<ion-header *ngIf="showSearchWidget">
  <ion-toolbar class="new-background-color">
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Searchbar -->
  <ion-content class="box" *ngIf="showSearchWidget" style="text-align: center;">
    <ion-input class="searchbox" type="text" placeholder="Enter Searchphrase" [(ngModel)]="searchPhrase"></ion-input>

    <ion-select class="searchbox" placeholder="Search Criteria" [(ngModel)]="searchCriteria" interface="popover">
      <ion-select-option value="">Search Criteria</ion-select-option>
      <ion-select-option value="sc_b">Beginning Word</ion-select-option>
      <ion-select-option value="sc_a">Word Anywhere</ion-select-option>
      <ion-select-option value="sc_p">Phrase Search</ion-select-option>
    </ion-select>

    <ion-select class="searchbox" placeholder="Search Scriptures" [(ngModel)]="searchScripture" interface="popover">
      <ion-select-option value="">Search Scriptures</ion-select-option>
      <!-- <ion-select-option value="asd">Sww</ion-select-option> -->
      <ion-select-option *ngFor=" let baani of scriptureList" [value]="baani.filename">
        {{baani.heading}}
      </ion-select-option>
    </ion-select>

    <ion-button (click)="search()" class="search_cta">Search</ion-button>
    <ion-button (click)="reset()" class="search_cta">Reset</ion-button>
  </ion-content>

  <ion-content *ngIf="!showSearchWidget" class="content" style="text-align: center;">
    <ion-col size="8" size-sm>
      <ion-text-center>
        <!-- {{searchResult | json}} -->
        <span style="text-align: center;" *ngFor="let s of searchResult">
          <p>{{s.heading}}</p>
          <p>{{s.sub_heading}}</p>

          <p *ngFor="let l of s.lines">{{l}}</p>
        </span>
      </ion-text-center>
    </ion-col>
    <ion-button (click)="back()" class="search_cta">back to search</ion-button>
  </ion-content>

</ion-content>