.new-background-color{
    --background: #44270A;
    --color: #fff;
    text-align: center;
}
.searchbox{
    width: 100%;
    border: 1px solid #e2e0e0;
    border-right: none;
    margin-top: 10px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    color: #000; 
    font-family: TradeGothic !important;
}
.content {
    font-family: TradeGothic !important;
}
.box {
    padding-left: 10%;
    padding-right: 10%;
}
.search_cta{
    --background: #44270A;
    --color: #fff;
}
ion-app.android {
    font-family: TradeGothic !important;
    font-size: 15px;
    }
ion-app.ios {
        font-family: TradeGothic !important;
        font-size: 15px;
}
