<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Searchbar -->
  <ion-content *ngIf="showSearchWidget" style="text-align: center;">
    <ion-input type="text" placeholder="Enter Searchphrase" [(ngModel)]="searchPhrase"></ion-input>
    <ion-button (click)="search()">Search</ion-button>
  </ion-content>
  <ion-content *ngIf="!showSearchWidget" style="text-align: center;">
    <ion-text-center>
      <!-- {{searchResult | json}} -->
      <p style="text-align: center;" *ngFor="let l of searchResult">
        {{l}}
      </p>
    </ion-text-center>
    <ion-button (click)="back()">back to search</ion-button>
  </ion-content>

</ion-content>