.new-background-color{
    --background: #44270A;
    --color: #fff;
    text-align: center;
}
.searchbox{
    width: calc(100% - 10px);
    border: 1px solid #e2e0e0;
    border-right: none;
    margin-top: 25px;
    height: 48px;
    border-radius: 50px;
    padding-left: 6% !important;
    outline: none;
    text-align: left;
    color: #000;
    font-family: TradeGothic !important;
}

.content {
    font-family: TradeGothic !important;
}
.box {
    padding-left: 10%;
    padding-right: 10%;
}
.search_cta{
    --background: #44270A;
    --color: #fff;
    --border-radius: 50%;
    margin-top: 10%;
}
ion-app.android {
    font-family: TradeGothic !important;
    font-size: 15px;
    }
ion-app.ios {
        font-family: TradeGothic !important;
        font-size: 15px;
}
