.new-background-color{
    --background: #44270A;
    --color: #fff;
    text-align: center;
}
.home_bg {
    background: url('/assets/imgs/Khanda.png');
    background-repeat: no-repeat;
    background-size:cover;
  }
ion-app.android {
    font-family: TradeGothic !important;
    font-size: 15px;
    }
ion-app.ios {
        font-family: TradeGothic !important;
        font-size: 15px;
}


