<ion-header>
  <ion-toolbar class="new-background-color">
    <img src="/assets/imgs/sggslogo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-text-center class="homebg">
    <p style="text-align: left; margin-top: 35%; padding-left: 5%; padding-right: 5%;" *ngFor="let l of homeText">
      {{l}}
    </p>
  </ion-text-center>
  
</ion-content>


