<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

</ion-content>

<ion-content>

  <ion-text-center>
    <p style="text-align: center;" *ngFor="let l of homeText">
      {{l}}
    </p>
  </ion-text-center>
</ion-content>